.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  flex: 1;
  margin-left: 270px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.main-content {
  margin-top: 72px;
  flex: 1;
  background: #f5f6fa;
  height: calc(100vh - 72px);
  overflow-y: auto;
}
